.ipynb_checkpoints
grids
maps
runs
trash
__pycache__
*.swp
*.mp4
*.zip
*.DS_Store
run*.bat
test*
*.pch
sbi-logs/*
script_pseudo.txt
*copy*
*.pkl
sbi-logs
sbi_log.txt
sbi_dev
workspace*
steps
signac_project_document.json
census_t.npy
N_tot_vec.npy
*.asc
FDE_current.txt
*save
