.ipynb_checkpoints
trash
__pycache__
*.swp
*.DS_Store
sbi-logs/*
sbi-logs
sbi_log.txt
model_fitting/sbi
model_fitting/*/lc2st_data/*.pkl
model_fitting/*/*.pkl
workspace*
signac_project_document.json
data
*.svg
checkinits_data
shared_maps
journal.ipynb
