.ipynb_checkpoints
grids
maps
runs
trash
__pycache__
*.swp
*.mp4
*.zip
*.DS_Store
run*.bat
test*
*.pch
sbi-logs/*
script_pseudo.txt
*copy*
sbi-logs
sbi_log.txt
sbi_dev
workspace*
steps
signac_project_document.json
census_t.npy
N_tot_vec.npy
FDE_current.txt
*save
*.asc
*map_ncell*
data
optimal_fire
sensitivity/figs/*/*/*/deltatau*
sensitivity/figs/*/*/*/mutau*
nint_data
*old.ipynb
sensitivity/meta_mean_results/figs/*/*/*/deltatau*
sensitivity/meta_mean_results/figs/*/*/*/mutau*
sensitivity/gte_thresh_results/figs/*/*/*/deltatau*
sensitivity/gte_thresh_results/figs/*/*/*/mutau*
*old*
figs*
shared_figs
model_fitting/*/lc2st_data/*.pkl
